.vs/
Design Patern/bin/
Design Patern/obj/Design Patern.csproj.nuget.dgspec.json
Design Patern/obj/
Factory Method/bin/
Factory Method/obj/
Pattern Singleton/bin/
Pattern Singleton/obj/
Abstract Factory/bin/
Abstract Factory/obj/
Builder/bin/
Builder/obj/
Prototype/obj/
Prototype/bin/
Pool/bin/
Pool/obj/
Adapter/bin/
Adapter/obj/Adapter.csproj.nuget.g.props
Adapter/obj/
bridege/bin/
bridege/obj/
Composite/bin/Debug/net7.0/Composite.deps.json
Composite/bin/
Composite/obj/
Decorator/bin/Debug/net7.0/Decorator.deps.json
Decorator/bin/Debug/net7.0/Decorator.runtimeconfig.json
Decorator/obj/
Decorator/bin/
